@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    color: black;
  }
  
  :root {
    --primary-color: #3490dc;
    --secondary-color: #ffed4a;
  }

  
h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  i {
    vertical-align: -3px;
  }
  
  a:hover {
    text-decoration: none;
    font-size: 1.2rem;
  }

  span {
    font-size: 20px;
  }

  input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  body {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  min-height: 100vh;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2672b1;
  }

  .product {
    background-color: white;
    flex-wrap: wrap;
  }

  .cartIcon:hover {
    transform: scale(1.1);
  }

  .addItem {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

  .addItem input {
    width: 400px;
    font-size: 20px;
    color: black;
    text-align: center;
  }

  .addItem .submit {
    cursor: pointer;
  }

  .cart {
    box-sizing: border-box;
    width: 97.9vw;
    margin-top: 50px;
    min-width: 95vw;
    max-width: 98vw;
  }

  .cartElement {
    width: 50vw;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .navbar {
    background-color: #0D0D0D;
    border:#333 2px solid;
    margin-bottom: 30px;
  }

  .link {
    color: white;
  }

  .remove:hover {
    background-color: red;
  }


  .cart-container {
    margin: 20px;
  }
  
  .cart {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item {
    margin-bottom: 10px;
  }
  
  .remove-button {
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    font-size: 1.1em;
    background-color: #cc0000;
    transform: 0.5s;
  }
  
  .checkout-button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-style: none;
    box-shadow: 0 0 0 4px white, 0 0 0 10px #007bff;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .checkout-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 0 8px white, 0 0 0 10px #0056b3;
    transition: 0.3s;
  }

  .cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-summary .Total {
    font-weight: bold;
  }

  .line {
    width: 100%;
    border-top: 1px solid #333; 
    margin: 10px 0;
  }

  .success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .successLink {
    color: white;
    font-size: 4rem;
  }

  .successLink:hover {
    font-size: 4.5rem;
    padding: 10px 0;
    border-bottom: 10px solid white;
  }

  .successIcon {
    font-size: 12rem;
  }

  .cartEmpty {
    margin: 20px;
  }
  
  